.el-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  padding: 1.5rem 1.5rem 2rem;
  background-color: var(--bg-color);
  color: var(--white-color);
  transition: 0.5s;
  z-index: var(--z-fixed);
  &.expander {
    width: calc(var(--nav-width) + 9.25rem);
  }
  .nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

    .nav_brand {
      display: inline-flex;
      grid-template-columns: max-content max-content;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      .nav_toggle {
        font-size: 1.25rem;
        padding: 0.75rem;
        cursor: pointer;
      }

      .nav_logo {
        color: var(--white-color);
        font-weight: 600;
      }
    }
    .nav_link {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 0.75rem;
      padding: 0.75rem;
      color: var(--white-color);
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      transition: 0.3s;
      cursor: pointer;
    }

    .nav_link:hover {
      background-color: var(--primary-color);
    }

    .nav_icon {
      font-size: 1.25rem;
    }
    .active {
      background-color: var(--primary-color);
    }
  }
}
