@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-width: 92px;

  /* === Colors === */
  --primary-color: #623cea;
  --bg-color: #12192c;
  --sub-color: #b6cefc;
  --white-color: #ffff;
  --blue-color: #f2f8fb;

  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0 0 0 5.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: var(--blue-color);
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.body-pd {
  padding: 0rem 0 0 15rem;
}
